# my.cnf PADRÃO 01
# POS_INSTALL - Alterar configurações com essa TAG após a instalação básica do banco
# POS_DUMP - Alterar configurações com essa TAG após a restauração do dump
# POS_SLAVE - Alterar configurações para servidores que serão SLAVE

# Versão 4.0 - MySQL 5.7
# Data: 22/01/2020
# Responsavel: Favinha / Tati

[client]
port            = 3306 ### POS_INSTALL / POS_SLAVE - Para Slave usar a porta 3390
socket          = /var/lib/mysql/mysql.sock

[mysqld]
### Basic
port            = 3306 ### POS_INSTALL / POS_SLAVE - Para Slave usar a porta 3390
socket          = /var/lib/mysql/mysql.sock

###  General
transaction_isolation = REPEATABLE-READ
event_scheduler = 0 ### POS_INSTALL / POS_DUMP / POS_SLAVE - Ativar Ex: event_scheduler = 1 - Para SLAVE deixar DESLIGADO !!
group_concat_max_len = 1000000

# ONLY_FULL_GROUP_BY ### Comentário Akiva: Retiramos isso por causa de GROUP BY feito indevidamente.
# STRICT_TRANS_TABLES ### Comentário Akiva: Retiramos isso por causa de UPDATE SET em coluna INTEGER utilizando ''.
sql_mode = "NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

secure_file_priv = "/ftp_akiva/"
# local-infile=1 ### Precisa ver se vai realmente precisar disso !!

#validate_password_policy = 0 ### POS_INSTALL - Descomentar essa linha

### Engines
default-storage-engine = InnoDB
federated
character-set-server=latin1
collation-server=latin1_general_ci

internal_tmp_disk_storage_engine=InnoDB
innodb_temp_data_file_path=ibtmp1:100M:autoextend:max:50G ### POS_INSTALL - ATENÇÃO: se o banco tiver pouco espaço, diminuir esse tamanho !!!

# Logs
# slow_query_log ### Já estava comentado por Akiva. ### Comentário Nerv: Iremos habilitar, após garantir a recuperabilidade do MySQL.
# long_query_time = 2 ### Já estava comentado por Akiva. ### Comentário Nerv: Iremos habilitar com valor 60, após garantir a recuperabilidade do MySQL.
log_output = FILE
log_error_verbosity = 3
log_timestamps = SYSTEM
log_error = /var/lib/mysql/mysql-error.log

### Replication - Master   ###  POS_SLAVE
server-id = 1
log-bin = /var/lib/mysql/mysql-bin
sync_binlog = 0
expire_logs_days = 1
binlog-ignore-db = xtemporary
innodb_flush_log_at_trx_commit = 1
innodb_flush_log_at_timeout = 1

### Replication - Slave   ###  POS_SLAVE
#server-id = 2
#log-bin = /var/lib/mysql/mysql-bin
#sync_binlog = 0
#expire_logs_days = 1
#super_read_only = 1      ## POS_SLAVE_SLIM Alterar para 0 e após subir os schemas exluidos alterar para 1
##slave-skip-errors = 1062,1032
##slave_sql_verify_checksum = NONE
##log_slave_updates = 1
#skip-slave-start
#slave-parallel-type = "LOGICAL_CLOCK"
#slave-parallel-workers = 20
#binlog-group-commit-sync-delay = 240000
#slave-preserve-commit-order = 0
#innodb_flush_log_at_trx_commit = 0
#innodb_flush_log_at_timeout = 120
#slave-pending-jobs-size-max = 268435456
#replicate-ignore-db = xtemporary

##Descomentar apenas quando for Slave Light   ###  POS_SLAVE
#replicate-ignore-db = xpurge	
#replicate-ignore-db = xpurge_mailing
#replicate-ignore-db = xslave

##Descomentar apenas quando for Slave Light   ###  POS_SLAVE
#replicate-ignore-table = xcall.PBX_Group_Agent
#replicate-ignore-table = xdial5mailing.Mailing_Master_Phone
#replicate-ignore-table = xdial5mailing.Mailing_Master
#replicate-ignore-table = xobduracy.log_clean_locks
#replicate-ignore-table = xobduracy.client_general_status_hist
#replicate-ignore-table = xreports.icall_agent_hist_calls
#replicate-ignore-table = xreports.XCL_Full_DialLog_Unsuccessful
#replicate-ignore-table = xreports.icall_agent_hist_event
#replicate-ignore-table = xsystem.PBX_Ticket_Log_FIX




### Network
skip-name-resolve
thread_cache_size = 10000 ### Comentário Nerv: Alterado de 600 para 2000 em 16/08/2018, devido ao grande número de conexões.
### thread_stack = 192K ### Comentário Nerv: Comentado pois o DEFAULT na 5.7 é 256k.
max_connect_errors = 10
max_allowed_packet = 16M ### Comentário Akiva: Estava 32, padrao 16, tamanho maximo da query que servidor pode receber.

### Recovery
binlog_cache_size = 1M ### Comentário Akiva: Estava 512, padrao 1, tamanho maximo do cache de transaction por conexão.

### Full Text
ft_min_word_len = 4

### Tuning
# read_buffer_size = 128M ### Comentário Nerv: Comentado pois aplica-se somente a MyISAM.
# read_rnd_buffer_size = 128M ### Comentário Nerv: Comentado pois aplica-se somente a MyISAM.
sort_buffer_size = 2M
join_buffer_size = 4M
innodb-io-capacity-max = 40000
innodb-io-capacity = 20000 ### 1000
max_connections = 15000
table-open-cache = 100000
table-definition-cache = 5000

### Temporary Tables
max_heap_table_size = 128M
tmp_table_size = 128M

### Query Cache
query_cache_size = 0
query_cache_limit = 0

### MyISAM
key_buffer_size = 128M ### Comentário Nerv: O sistema utiliza pouco tabelas MyISAM. Baixado de 16GB para 1GB em 16/08/2018.
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

### InnoDB
innodb_strict_mode = 0
innodb_thread_concurrency = 0 ### Comentário Akiva: 0 = ilimitado.
innodb_data_file_path = ibdata1:100M:autoextend
innodb_file_per_table = 1
innodb_write_io_threads = 64
innodb_read_io_threads = 64
innodb_flush_neighbors = 0 ### Comentário Nerv: Recomendado para SSD.
innodb_flush_method = O_DIRECT
innodb_max_dirty_pages_pct = 90
innodb_change_buffer_max_size = 50 ### Comentário Nerv. Adicionado como 50, pois o padrão é 25.
innodb_stats_on_metadata = 0
innodb_buffer_pool_instances = 16 ### Comentário Akiva: Encontrar fórmula ideal e colocar aqui
innodb_buffer_pool_size = 100M ### POS_INSTALL - Comentário Akiva/Nerv: Iniciar em 50% da memoria total e iremos encontrar o valor ideal apenas com 5.7/CentOS 7 com valor padrão de swappiness = 10;
innodb_lock_wait_timeout = 50

### Dump de Buffer Pool
innodb_buffer_pool_dump_at_shutdown = ON
innodb_buffer_pool_load_at_startup = ON
innodb_buffer_pool_dump_now = OFF
innodb_buffer_pool_load_now = OFF
innodb_buffer_pool_load_abort = OFF
innodb_buffer_pool_filename = InnoDB.dump
innodb_buffer_pool_dump_pct = 100

### InnoDB Recovery
# innodb_force_recovery = 1 ### Já estava comentado por Akiva.
# innodb_fast_shutdown ### Já estava comentado por Akiva.
innodb_log_buffer_size = 64M
innodb_log_file_size = 100M ### POS_INSTALL - Comentário Akiva/Nerv: Alterar esse parâmetro para "1G".
innodb_log_files_in_group = 2 ### POS_INSTALL - Comentário Akiva/Nerv: Alterar esse parâmetro para "1 para cada 4GB do innodb_buffer_pool_size".

# innodb_stats_auto_recalc = ON ### Comentário Nerv: Nova tratativa de estatísticas do InnoDB. Será mantido comentado por enquanto.
# innodb_stats_transient_sample_pages = 10 ### Comentário Nerv: Nova tratativa de estatísticas do InnoDB. Será mantido comentado por enquanto.
# innodb_stats_persistent = ON ### Comentário Nerv: Nova tratativa de estatísticas do InnoDB. Será mantido comentado por enquanto.
# innodb_stats_persistent_sample_pages = 100 ### Comentário Nerv: Nova tratativa de estatísticas do InnoDB. Será mantido comentado por enquanto.

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 65000

[xtrabackup]
open-files-limit = 65000
